body{
    padding: 10px;
    background-color: whitesmoke;
}
header{
    /* position: fixed; */
    width: 100%;
}
nav{
    /* border: solid 2px; */
    border-top: solid 1px;
    border-bottom: solid 1px;
}
nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
nav>ul>li:hover{
    background-color: blue;
}
a{
    text-decoration: none;
}

.Profile-picture{
    border-radius: 100%;
    padding: 50px;
    float: left;
}
.about{
    margin-left: 20%;
    margin-top: 8%;
    
}
.hobbies{
    clear: both;
    margin-top: 2%;
    border-bottom: solid 1px;
    border-top: solid 1px;
    
}

.date-skill{
    margin-right: 110px;
}
.job-skill{
    margin-bottom: 3px;
}
.skills{
    float: left;
    margin-top: 0px;
    margin-right: 2%;
    line-height: 30px;}

.topskills{
    clear: both;
    margin-top: 2%;
    border-top: solid 1px;
    
    
}

.ratings{
    line-height: 31px;
}
.contact-tittle{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    border-top: solid 1px;
    padding: 10px;
}
.contact-form{
    clear: both;
}
.form{
    margin-left: 15px;
    float: left;
}
label{
    margin-right: 35px;
    width: max-content;
    align-items: top;
}
.form-input{
    padding: 8px;
}
.submit1{
    margin-left: 177px;
    width: 20px;
}
iframe{
    padding-top: 20px;
}
.map{
    padding-left: 1000px;
    margin-top: 10px;
    
}
footer{
    margin-top: 5%;
    padding: 2px;
    text-align: left;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
.copy{
    /* border-top: solid; */
}